{% extends 'Home.html' %}
{% block content %}
    <div>
        <UL class="breadcrumb">
            <LI class="breadcrumb-item"><A href="{% url 'home' %}">Home</A></LI>
            <LI class="breadcrumb-item active">Login</LI>
        </UL>
    </div>
    <div>
        {% for i in messages %}
        <div class="alert alert-danger alert-dismissible fade show">
            <h6>{{ i }}</h6>
            <button class="btn-close" data-bs-dismiss="alert"></button>
        </div>  
        {% endfor %}
    </div>
    <form method="post">
    {% csrf_token %}
        <div>
            <table name="loginform" class="m-5 table table-hover table-dark" style="width: 700px">
                <tr>
                    <th>Username</th>
                    <td><input style="width: 100%" type="text" name="username" placeholder="Username">
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input style="width: 100%" type="password" name="password" placeholder="Password">
                </tr>
                    <td colspan="2"><center><input class="m-2 p-2 d-grid gap-2 col-4 btn btn-primary mx bg-primary text-white rounded" type="submit" name="login" value="Log In"></center></td>
                </tr>
            </table>
        </div>
    </form>
{% endblock content %}