{% extends 'Home.html' %}
{% block content %}
<table width="90%" aria-colspan="2">
    <tr>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <!-- <div class="card-body"> -->
            <!-- <p class="card-text">{NAME}</p> -->
            <ul class="list-group list-group-flush">                
                <li class="list-group-item">Name : {NAME}</li>
                <li class="list-group-item">Roll No : {ROLLNO</li>
                <li class="list-group-item">Place : {PLACE}</li>
                <li class="list-group-item">Phone : {PHONE}</li>
            </ul>
            <!-- </div> -->
        </div>
    </tr>
</table>
{% endblock content %}
